.custom-filepond {
  --filepond-bg-color: white;
  --filepond-primary-color: #2563eb;
}

.filepond--panel-root {
  background-color: var(--filepond-bg-color);
  border: 2px dashed #e5e7eb;
  border-radius: 0.5rem;
}

.filepond--drop-label {
  color: #6b7280;
}

.filepond--label-action {
  color: var(--filepond-primary-color);
  text-decoration-color: var(--filepond-primary-color);
} 